body{
    margin:0;
}
a{
    color:black;
}
h1{
    font-size:45px;
    text-aligh:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
ol{
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
}
/*<link rel="stylesheet" href="style.css">*/